.navbar-custom {
  background-color: #717171;
  border-color: #606060;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-custom .navbar-brand {
  color: #f1f2f5;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #d3d6e0;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #f1f2f5;
}
.navbar-custom .navbar-nav > li > a {
  color: #f1f2f5;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #d6d8e4;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #d6d8e4;
  background-color: #606060;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#606060), to(#7a7a7a));
  background-image: -webkit-linear-gradient(top, #606060, 0%, #7a7a7a, 100%);
  background-image: -moz-linear-gradient(top, #606060 0%, #7a7a7a 100%);
  background-image: linear-gradient(to bottom, #606060 0%, #7a7a7a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff606060', endColorstr='#ff7a7a7a', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #5f5f5f;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #d6d8e4;
  border-bottom-color: #d6d8e4;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #606060;
  color: #d6d8e4;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #d6d8e4;
  border-bottom-color: #d6d8e4;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #f1f2f5;
  border-bottom-color: #f1f2f5;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #f1f2f5;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d6d8e4;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d6d8e4;
    background-color: #606060;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #f1f2f5;
}
.navbar-custom .navbar-link:hover {
  color: #d6d8e4;
}
