html {
}

body {
    font-family: Bitter;
    background-color: #929bb9;


}

::-webkit-scrollbar{
  width:9px;
  height:9px;
  }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}


::-webkit-scrollbar-track-piece{
  background-color:rgba(0, 0, 0, 0.3);
  -webkit-border-radius:10px;

  }
::-webkit-scrollbar-thumb:vertical{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  height:50px;
  background-color:#626b99;
  -webkit-border-radius:10px;
  }
::-webkit-scrollbar-thumb:horizontal{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  width:50px;
  background-color:#626b99;
  -webkit-border-radius:10px;
  }

.pane {
    margin-top: 30px;
}

table {
    width:100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

input, textarea {
    color: #fff;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgba(116, 125, 155, 0.5);
    background-color: transparent;
    outline: none;

    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

input:focus, textarea:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

input {
    height: 30px;
}

textarea {
    height: 60px;
}

select {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  background-color: #666;
  border-radius: 5px;
  width: 100%;
  height: 36px;
  color: #fff;
}

.button {
    color: #fff;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 30px;
    background-color: #55b8cd;
    margin: auto;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 0.5px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(#55b8cd, #349ab0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#55b8cd, #349ab0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#55b8cd, #349ab0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#55b8cd, #349ab0); /* Standard syntax */
}

.button:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.button-red {
  background: -webkit-linear-gradient(#CD5555, #B03434); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#CD5555, #B03434); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#CD5555, #B03434); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#CD5555, #B03434); /* Standard syntax */
}

.rotate {

  -webkit-transform: rotate(360deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(360deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(360deg);  /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.50-12.00 */
  transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */

  -webkit-transition: all 0.9s linear;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.9s linear;  /* Firefox 4-15 */
  -o-transition: all 0.9s linear;  /* Opera 10.50–12.00 */
  transition: all 0.9s linear;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}


.clear-form {
  font-size: 25px;
  color: red;
  width: 24px;
  height: 24px;
  color: #666;
  background-color: #e33;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: 0px;
}

.index {
}

.index .logo {
    display: block;
    margin: auto;
}

.index p {
    text-align: center;
}

.index ul {
    display: block;
    padding-left: 0;
    list-style-type: none;
}

.index ul:last-child {
    border-bottom: 1px solid rgba(126, 135, 165, 0.3);
}

.index li {
    height: 30px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    border-top: 1px solid rgba(126, 135, 165, 0.3);
    background-color: rgba(255, 255, 255, 0);

    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

.index li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.index li span {
    margin-right: 15px;
    margin-left: 45px;
}

.index .nav-container {
    display: block;
    margin: auto;
    width: 200px;
}

.list {
  border-radius: 6px;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 10px;


}

#room-form {
  position: relative;
}

@media (max-width: 767px){
  #room-form {
    padding: 0;
    margin: 0;
  }

  #room-list {
    padding: 0;
    margin: 0;
    height: 280px;
  }

  .clear-form {
    position: relative;
    display: block;
    right: 0px;
    float: right;
    margin: 7px;
  }
}

#login-form form {
    margin: 0;
}

.room-item, .user-item, .booking-item, .sensor-item, .report-item, .record-item, .usage-item {
  border-bottom: 1px dashed #aaa;
}

.room-number, .username, .big-bold {
    font-weight: bold;
    font-size: 28px;
    margin-right: 10px;
}

.booking-label, .report-label {
  font-weight: bold;
}

.seats-label {
    font-style: italic;
}

.description {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.text {
    padding-bottom: 5px;
}

.percentage-div {
    text-align: right;
}
